@charset "BIG5";

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #C3DDE4;
      padding: 1px;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      background-color: #C3DDE4;
      padding: 1px;
    }

    nav a {
      color: black;
      text-decoration: none;
      margin: 10px 15px;
      font-size: 25px;
    }

    nav a:hover {
      text-decoration: underline;
    }

    button {
      background-color: #F4F0E4;
      color: black;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
    }
